APP_NAME=Stremio HTTP Proxy
DEBUG=false
API_HOST=0.0.0.0
API_PORT=8691
UPSTREAM_BASE_URL=https://example.com
PUBLIC_BASE_URL=http://localhost:8691
TORRSERVER_BASE_URL=http://localhost:8090
TORRSERVER_BASIC_AUTH_USER=
TORRSERVER_BASIC_AUTH_PASSWORD=
LOG_LEVEL=INFO
REQUEST_TIMEOUT_SECONDS=20
